* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background: #FFFFFF;

    --green: #4EC33D;
    --red: #FC2E20;
    --yellow: #F88F01;
    --blue: #65ACF0;
}

:focus {
    outline: 0;
}

body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-weight: 400;
    font-size: 1rem;
    color: var(--background);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}